menu "Device configuration"

    config LED_PIN
        int "GPIO for LED Strip"
        default 18
        range 0 49
        help
            The GPIO pin number connected to the data line of the LED strip.

    config NUM_LEDS
        int "Number of LEDs"
        default 16
        range 1 255
        help
            The total number of LEDs in the strip.

    config PORT
        int "UDP Listener Port"
        default 4210
        range 1024 65535
        help
            The UDP port the ESP32 will listen on for commands.

endmenu
